<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265991515942-eooe8cm3n9k7vkgtqtsoh3qf44s5q2sp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265991515942-eooe8cm3n9k7vkgtqtsoh3qf44s5q2sp</string>
	<key>API_KEY</key>
	<string>AIzaSyDhr3HnBWom2FMaI1Dn8PdpcNwX9oSjOAU</string>
	<key>GCM_SENDER_ID</key>
	<string>265991515942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.paulshark.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-92d8c</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-92d8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265991515942:ios:44c4a1aa764eff6eb4dbe7</string>
</dict>
</plist>